.hidden {
  display: none;
} /* 어떤 요소에게든 이 class name을 주면 그 요소를 숨기게 함. */

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 100%;
}

body {
  color: white;
  text-align: center;
  margin-top: 60px;
}

#todo-form {
  padding-bottom: 200px;
}
#login-form {
  padding-bottom: 50px;
}
#clock {
  font-size: 40px;
}
#greeting {
  padding-bottom: 30px;
  font-size: 50px;
}
#quote {
  font-size: 25px;
}
